.card {
    position: relative;
   left: 35%;
    width: 390px;
    height: 500px;
    border-radius: 8px;
    background-color: #000000;
    padding: 16px;
    border: 9px inset #f3c614;
    transition: 0.5s ease-out;
    margin-top: 3%;
    
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 2px 1px 85px -29px #f3c614;
    -webkit-box-shadow: 2px 1px 85px -29px #f3c614;
    -moz-box-shadow: 2px 1px 85px -29px #f3c614;
}
.card:hover .name {
    color: #f3c614;
    transition: color 0.3s ease-in-out;
  }
.image {
    width: 175px;
    height: 175px;
    object-fit: cover;
    border-radius: 30%;
    margin-bottom: 1rem;
    margin-left: 30% ;
}
.typesContainer {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.typesName {
    font-size: 1.2rem;
    color: #fdfafa;
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 60px;
}
.card:hover .typesName {
    color: #f7cf06;
    transition: color 0.3s ease-in-out;
  }

.type {
    font-size: 1.2rem;
    margin-right: 0px;
    margin-left: 50px;
    padding: 3px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    text-transform: capitalize;
}
.name {
    font-size: 1.5rem;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -260%);
    color: white;
    text-align: center;
    white-space: nowrap; 
   }


.attack {
    font-size: 1.2rem;
    background-color: #fffafa;
    color: #0e0e0e;
    

}

.life {
    font-size: 1.2rem;
    background-color: #d4d1d7;
    color: #050505;
    
 
}

.defense {
    font-size: 1.2rem;
    background-color: #fffafa;
    color: #0e0e0e;
    
}

.speed {
    font-size: 1.2rem;
    background-color: #d4d1d7;
    color: #050505;

}

.weight {
    font-size: 1.2rem;
    background-color: #fffafa;
    color: #0e0e0e;

}

.height {
    font-size: 1.2rem;
    background-color: #d4d1d7;
    color: #050505;
    margin-bottom: 0;

}
