.error {
    position: absolute;
    top: calc(100% + 5px);
    right: 5px;
    top:50px;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
  }